:root {
    --light-gray: #2b3032a1;
    --primary-color: #82ae46 !important;
    --dark-green: #597a2b;
    --orange: #e96125;
    --darkOrange: #BF501F;
    --text-color: #97ce4b;
    --roboto: 'Roboto', sans-serif;
    --gugi: 'Gugi', cursive;
    --sofia: 'Sofia', cursive;
    --anton: 'Anton', sans-serif;
    --lato : 'Lato', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body,
html {
    height: 100%;
}
/*.bg_img  {
    background: url("../img/delivery.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}*/

a {
    font-size: 14px;
    line-height: 1.7;
    color: #666;
    margin: 0;
    transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s
}
a:focus {
    outline: none!important
}
a:hover {
    text-decoration: none;
    color: #57b846
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0
}
p {
    font-size: 14px;
    line-height: 1.7;
    color: #666;
    margin: 0
}
ul,
li {
    margin: 0;
    list-style-type: none
}
input {
    outline: none;
    border: none
}
input[type=number] {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none
}
input:focus {
    border-color: transparent!important
}
input:focus::-webkit-input-placeholder {
    color: transparent
}
input:focus:-moz-placeholder {
    color: transparent
}
input:focus::-moz-placeholder {
    color: transparent
}
input:focus:-ms-input-placeholder {
    color: transparent
}
input::-webkit-input-placeholder {
    color: #999
}
input:-moz-placeholder {
    color: #999
}
input::-moz-placeholder {
    color: #999
}
input:-ms-input-placeholder {
    color: #999
}
label {
    display: block;
    margin: 0
}
button {
    outline: none!important;
    border: none;
    background: 0 0
}
button:hover {
    cursor: pointer
}
.txt1 {
    font-size: 14px;
    line-height: 1.4;
    color: #999
}
.txt1 a {
    color: #007bff !important;
    text-decoration: underline;
    font-weight: bold;
}
.d-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

/*==================================
            Login Form
====================================*/

.container-login {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #ebeeef
}
.wrap-login {
    width: 670px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative
}
.login-form-title {
    width: 100%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 15px 74px
}
.login-form-title-1 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center
}
.login-form-title::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(54, 84, 99, .7)
}
.login-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 88px 93px 190px;
}
.wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #b2b2b2
}
.label-input {
    font-size: 15px;
    font-weight: 600;
    color: gray;
    line-height: 1.2;
    text-align: right;
    position: absolute;
    top: 14px;
    left: -105px;
    width: 80px
}
.input {
    font-size: 15px;
    color: #555;
    line-height: 1.2;
    display: block;
    width: 100%;
    background: 0 0;
    padding: 0 5px
}
input.input {
    height: 45px;
}

.forgot {
    justify-content: space-between;
    width: 100%;
}

.container-login-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap
}
.login-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #57b846;
    border-radius: 25px;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s
}
.login-form-btn:hover {
    background-color: #333
}
@media(max-width:576px) {
    .login-form {
        padding: 25px 15px 57px 117px
    }
    .login-form-btn {
        width: 100%;
    }
}
@media(max-width:480px) {
    .login-form {
        padding: 25px 15px 57px 15px;
    }
    .label-input {
        text-align: left;
        position: unset;
        top: unset;
        left: unset;
        width: 100%;
        padding: 0 5px
    }
}

/*==================================
            Delivery Table
====================================*/

.delivery-form {
    width: 600px;
    margin: 0 auto;
}

.delivery-label {
    width: 100%;
    margin: 10px auto;
    font-size: 2rem;
    font-weight: 700;
}

@media(max-width:576px) {
    .delivery-form {
        width: 100%;
    }
}

.table_list {
    overflow-x: scroll;
    padding: 0;
    border: 1px solid #ccc;
}

/*==================================
            Billing Details
====================================*/
.txt {
    margin-bottom: 0.3rem;
    font-size: 1rem;
}
@media(max-width:576px) {
    .btn_deliver {
        width: 100%;
    }
}

/*==================================
            My Order
====================================*/
.product_img {
    width: 200px;
}
.order_warnings {
    font-size: 1rem;
    font-weight: 600;
}
@media(max-width:576px) {
    .product_img {
        width: 100px;
    }
}


